body {
    background-color: beige;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 100px;
    font-size: large;
}

.text.list {
    width: fit-content;
    margin: 0 auto;
}
